doctype html
html
	head
		title Failed Geocode
		meta(name="viewport" content="initial-scale=1.0")
		link(rel="stylesheet", href="stylesheets/style.css")
	body.content
		h2 Address not found!
		div
			a(href="/mailer", class="btn btn-default") Return to mailer
			a(href="/contacts", class="btn btn-default") Show contact list