doctype html
html
	head
		title Login
		meta(name="viewport" content="initial-scale=1.0")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
		link(rel="stylesheet", href="stylesheets/style.css")
	body.content
		h1 Test